.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
}

.ui-widget-content {
    background: white;
  /*Change the dialog border color here*/
    border: 1px solid red;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: relative;
    top: 0;
}

#success {
    padding: 0;
    margin: 0; 
}

.ui-dialog .ui-dialog-content {
    background: white repeat scroll 0 0;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
  /*Change the Header color here*/
    background: red;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
        font-size: 1em;
}